
@font-face {
  font-family: "vazir";
  src: url("https://bayanbox.ir/download/9079346587792044865/Vazir.woff2") format("woff2"),
    url("https://bayanbox.ir/download/8618153108850776974/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
