
@font-face {
  font-family: "vazir";
  src: url("https://bayanbox.ir/download/1288344303772455018/Vazir.woff2") format("woff2"),
    url("https://bayanbox.ir/download/8853712273567895455/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
