.logo {
  max-width: 300px;
  height: 100px;
  margin: 10px auto;

  background: url('//bayanbox.ir/download/7984235714991249945/asemanam.blog.2.300x100.svg') no-repeat;
  
  background-size: contain;

  display: block;
}
